.wrap
	%h1 One Page Task List
	%p
		Add tasks to your list. As you complete a task, mark it complete!
	%br
	%a{'href' => '#', class: ".toggleModal"} Modal
%ul#taskList
	- @tasks.each do |task|
		%li= task.title
		= link_to 'Remove Task', task, remote: true, method: :delete
		= link_to 'X', task_path(task), id: "deleteTask", method: :delete, data: {confirm: "Are you sure?"}
		= link_to 'Edit', edit_task_path(task), remote: true

= form_for Task.new, id: "newTask", remote: true do |f|
	= f.text_field :title
	= f.submit "Add"


/ New Modal
.modal


/ Modal
#modal-one-modal{"aria-hidden" => "true"}
	.modal-dialog
		.modal-header
			%h2 Create A New Task
			%a.btn-close{"aria-hidden" => "true", :href => "#"} ×
		.modal-body
			%p Enter your new task below:
			= form_for Task.new, id: "newTask", remote: true do |f|
				= f.text_field :title
				= f.submit "Add Task", class: "btn"
			
:javascript

	$('.toggleModal').on('click', function(e) {
		$('body').toggleClass('prevent');
		$('.modal').toggleClass('active');
	});






	$(document).on('click', '#deleteTask', function(){});

	$('#deleteTask').click(function(){
		var list = $(this).parents('ul'),
		var task_id = $(this).attr('data-task-id');

		$.ajax({
			url: "/tasks/" + task_id,
			type: 'POST',
			dataType: "JSON",
			data: {"_method":"delete"},
			success: function(data){
				alert('Successfully deleted');
				$('li').remove();
			}
			});
	});

	$(document).on('ajax:success', '#deleteTask', function(){
		$(this).parent().slideUp();
	});