.wrap
	%h1 One Page Task List
	%p
		Add tasks to your list. As you complete a task, mark it complete!
	%br
	%a{'href' => '#', class: ".toggleModal"} Modal
%ul#taskList
	- @tasks.each do |task|
		%li= task.title
		= button_tag 'Remove Task', class: "deleteTask", id: task.id, data: { "task-id" => task.id }
		= link_to 'X', task_path(task), id: "deleteTask", method: :delete, data: {confirm: "Are you sure?"}
		= link_to 'Edit', edit_task_path(task), remote: true



= form_for Task.new, id: "newTask", remote: true do |f|
	= f.text_field :title
	= f.label "User"
	= f.select :user_id, User.all.collect {|u| [ u.name, u.id ]}
	= f.submit "Add"


/ New Modal
.modal


/ Modal
#modal-one-modal{"aria-hidden" => "true"}
	.modal-dialog
		.modal-header
			%h2 Create A New Task
			%a.btn-close{"aria-hidden" => "true", :href => "#"} ×
		.modal-body
			%p Enter your new task below:
			= form_for Task.new, id: "newTask", remote: true do |f|
				= f.text_field :title
				= f.submit "Add Task", class: "btn"
			